.footer-panel {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 6px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 14px;
  color: #ccc;
}
