   <div class="instructions">     
        <div class="roles">
           <h3>Objetivo</h3>
           <p>O objetivo do jogo é descobrir a seguência de cores criada pelo jogo, você terá dicas: (conforme explicado a baixao em "Validação")</p>
           <hr>
           <h3>Niveis de Dificuldade</h3> 
           <p> Você pode acrescentar mais 4 cores (no painel de cores disponíveis), aumentando a dificuldade do jogo. </p>
           <P> Você também terá um nùmero limite de tentativas (ajustavel)</P>
           <hr>
          <p class="section-title">Validação</p>
          <p class="role-detail">
            <span class="color-dot red"></span>
            indica uma cor certa no lugar correto
          </p>
          <p class="role-detail">
            <span class="color-dot green"></span>
            indica uma cor certa no lugar errado
          </p>
          <p class="role-detail">
            <span class="color-dot white"></span>
            indica quantidade de erros
          </p>
        </div>
    </div>