<div class="container">  
  <app-header></app-header>

  <div class="panel">
    <div class="panel-1">
      <app-game-objective></app-game-objective>

     <!-- Novo painel separado -->
      <div class="extra-panel">
          <!-- Mostrar as cores disponíveis -->
          <div class="color-list">
            <p><strong>Cores disponíveis:</strong></p>
            <p>{{ availableColors.colors.join(', ') }}</p>
          </div>

          <!-- Seção de gerenciamento de cores -->
          <div class="color-management">
            <h3>Gerenciar Cores Extras</h3>

            <!-- Adicionar cor -->
            <div class="color-controls" *ngIf="remainingExtraColors.length > 0">
              <select [(ngModel)]="selectedColorToAdd">
                <option [value]="''" disabled selected>Selecione uma cor</option>
                <option *ngFor="let color of remainingExtraColors" [value]="color">{{ color }}</option>
              </select>
              <button class="btn-color" (click)="addColor()" [disabled]="!selectedColorToAdd">Adicionar Cor</button>
            </div>

            <!-- Remover cor -->
            <div class="color-controls" *ngIf="removableExtraColors.length > 0">
              <select [(ngModel)]="selectedColorToRemove">
                <option [value]="''" disabled selected>Remover uma cor</option>
                <option *ngFor="let color of removableExtraColors" [value]="color">{{ color }}</option>
              </select>
              <button class="btn-color" (click)="removeColor()" [disabled]="!selectedColorToRemove">Remover Cor</button>
            </div>
          </div>
          <div class="config-panel">
            <app-attempt-config (maxAttemptsChange)="updateMaxAttempts($event)"></app-attempt-config>
        </div>
        </div>  

    </div>  
    <div class="panel-2">   
            <!-- Sequência secreta (apenas exibida após o jogo terminar) -->
          <div class="status" [ngClass]="gameOver ? 'game-over' : 'game-active'">
                <p *ngIf="gameOver !== undefined">
                  {{ gameOver ? ' 🎉 🎉 Sequência correta 🎉 🎉' : 'Descubra a sequência gerada pela IA' }}
                </p>
              <div class="color-sequence" *ngIf="gameOver">
                <div class="color-group">
                  <div class="color-box" *ngFor="let color of attemptData.guess.colors" [ngClass]="color"></div>
                </div>
          </div>
      </div>

      <!-- Tentativas -->
        <div class="attempts">
        <app-attempt
          *ngFor="let i of allAttempts"
          [attemptIndex]="i"
          [currentAttemptIndex]="currentAttemptIndex"
          [positions]="positions"
          [currentColors]="currentColors"
          [availableColors]="availableColors"
          [attemptData]="attempts[i]"
          (validate)="validateGuess()"
        ></app-attempt>
      </div>
              
      <!-- Mensagem final -->
      <div class="sequenceFind">
          <div *ngIf="gameOver" class="game-message">
            <p *ngIf="won">🎉 Parabéns! Você acertou!</p>
            <p *ngIf="!won">❌ Tentativas esgotadas! Tente novamente.</p>
          </div>
      </div>  
    </div>
    <app-footer></app-footer>
  </div> 
</div>




