   <div class="instructions">     
        <div class="roles">
           <p>O objetivo do jogo é descobrir a seguência de cores criada pelo jogo, você terá dicas: (conforme explicado a baixao em "Validação"), você também tera um nùmero limite de tentativas</p>

          <p class="section-title">Validação</p>
          <p class="role-detail">
            <span class="color-dot red"></span>
            indica uma cor certa no lugar correto
          </p>
          <p class="role-detail">
            <span class="color-dot green"></span>
            indica uma cor certa no lugar errado
          </p>
          <p class="role-detail">
            <span class="color-dot white"></span>
            indica quantidade de erros
          </p>
        </div>
    </div>