

/*  logo */

.logo {
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.logo img {
  height: 70px; /* ajuste conforme necessário */
  width: auto;
  border-radius: 50px;
  border: solid black 1px;
}